body {
    background-color: #F9F9F9;
    color: rgba(0,0,0,.8);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.2;
    margin: 0;
    letter-spacing: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.main {
    margin: 5% auto;
}

h5:before {
    content: "# ";  /* Some fancy character */
    color: #3F51B5;
    opacity: .3;
    margin-right: .25em;
}

.page-footer {
    padding-top: 0;
}

#nav-avatar {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
}

#question-controls .btn-control {
    float: left;
}
#btn-edit {
    color: #03a9f4;
}
#btn-delete {
    color: #ea454b;
}

.message {
    border-radius: 25px;
}

.success {
    @extend .message;
    background-color: $success-color;
}

.error {
    @extend .message;
    background-color: $error-color;
}

.warning {
    @extend .message;
    background-color: $secondary-color;
}

#search-box {
    float: left;
    display: block;
    clear: left;
    margin-left: 150px;
    border-bottom: 1px solid white;
    color: white;
}

#dropdown-menu {
    position: fixed;
    left: 10rem;
    z-index: 100;
    background-size: cover;
}